#fightersImg img {
    width: 300px;
    height: 300px;
    object-fit:cover;
    padding: 5px;
}

#chooseFighter img {
    width: 100%;
    min-width: 140px;
    height: 300px;
    object-fit:cover;
    padding: 5px;
}

#gameFighters img {
    width: 100%;
    min-width: 140px;
    height: 300px;
    object-fit:cover;
    padding: 5px;
}

.fighterSelected {
    border: 1px solid red;
}

#versus {
    min-width: 140px;
}

#rezultsTable tr {
    border-bottom: 1px solid black;
    text-align: center;
}

#rezultsTable td {
    width: 130px;
}