body {
    background-image: url("images/jpg/bg-dog.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #dfbf9f;
}

#fightersImg img {
    width: 300px;
    height: 300px;
    object-fit:cover;
    padding: 5px;
}

#chooseFighter img {
    width: 100%;
    min-width: 140px;
    height: 300px;
    object-fit:cover;
    padding: 5px;
}

#gameFighters img {
    width: 100%;
    min-width: 140px;
    height: 300px;
    object-fit:cover;
    padding: 5px;
}

.fighterSelected {
    border: 1px solid #dfbf9f;
}

#versus {
    min-width: 140px;
}

#rezultsTable tr {
    border-bottom: 1px solid #868e96;
    text-align: center;
    color: #cccccc;
}

#rezultsTable td {
    width: 130px;
}

input {
    border-radius: 6px;
    border: 1px solid #868e96;
    background-color: #e6e6e6;
}

#container {
    background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: 50px;
    padding-top: 10px;
    margin-top: 40px;
}